/* General */
.container {
  max-width: 800px;
  margin: 1rem auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
}

body {
  background-color: #f7f7f7;
}

.body {
  width: 90%;
  margin: 1rem auto;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.2rem;
}

/* Buttons, general */
button {
  border: 1px solid rgba(0, 0, 0, 0.336);
  padding: .8rem 1rem;
  margin: 0 .5rem;
  border-radius: 5px;
  background-color: #0077b6;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #005b8f;
}

.buttons {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

/* Input field & save button */
.text-input-box {
  padding: 1rem;
}

.form {
  margin-bottom: 3rem;
}

.save-btn {
  margin-left: 1.5rem;
  width: 8rem;
}

/* List items, general */
.list-items-container {
  margin-bottom: 3rem;
}

.list-item {
  display: flex;
  padding: 1rem;
  background-color: rgb(245,245,245);
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  cursor: pointer;
}

.list-item:hover {
  background-color: rgb(235, 235, 235);
}

/* List item text */
.text-container {
  margin: auto 0;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.item-text {
  padding: .8rem;
  line-height: 1.5;
}

.item-text:hover {
  cursor: default;
}

/* Remove Item button */
.remove-btn-container {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.remove-item {
  background-color: transparent;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  color: black;
  height: 4rem;
}

.remove-item:hover {
  background-color: rgb(214, 214, 214);
}

/* Other */
.remove-completed-btn {
  margin-bottom: 3rem;
  background-color: #ff6b6b;
}

.remove-completed-btn:hover {
  background-color: #fa5454;
}

.no-completed-items, .no-completed-items:hover {
  margin-bottom: 3rem;
  background-color: #9e9e9e;
  cursor: default;
}






