* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

html {
  /* 10px / 16px = .625, converted the default from 16px to 10px as its base, to make it equal to 10px using percentages */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

strong {
  font-weight: 500;
}
